<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cristinel.catalog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginregister.RegisterClass" />
        <activity android:name=".Profesor.TableLayoutDoi" />
        <activity android:name=".Profesor.Adaugare" />
        <activity android:name=".Student.Editare" />
        <activity android:name=".CautareStergere" />
        <activity android:name=".Acasa" />
        <activity android:name=".loginregister.Introducere"/>
        <activity android:name=".database.ListDataActivity"/>
        <activity android:name=".database.EditDataActivity"/>
        <activity android:name=".Student.NotaStudent"/>
        <activity android:name=".LoginRegisterDatabase.RegisterActivity"/>
        <activity android:name=".LoginRegisterDatabase.UsersListActivity"/>
        <activity android:name=".LoginRegisterDatabase.LoginActivity"/>
    </application>

</manifest>